<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Wendler 5/3/1 Workout Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculator.css') }}">
</head>
<body>
    <h1>Welcome To The 5/3/1 Calculator</h1>
    
    <section> 
        <h2>Got bored, made this app..</h2>
        <p>
            5/3/1 is a strength training program designed to build strength progressively.
            The program works by using a percentage of your 1-rep max (1RM) for each lift, known as your "training max."
            Your training max is calculated as 90% of your 1RM. Each week, you perform sets based on a percentage of this training max.
        </p>
        <p>
            This app is made for your convinience to calculate the weights you should be lifting each week based on your current 1RMs. Pulling out your phone to calculate your sets for each set during your workout gets annoying so now you can have an easy way to simply calculate all your set percentages at once.
        </p>
        <p>
            <strong>Note:</strong> You should first know your 1-rep max (1RM) for each lift. 
            If you don't know your 1RMs, you'll need to determine them first before entering the values into the app.
        </p>
    </section>
    <a href="{{ url_for('calculator') }}">Go to Calculator</a><br>
    <a href="{{ url_for('faq') }}" style="margin-left: 20px;">FAQ</a>
</body>
</html>
